@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

/* html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
} */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

/* body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
} */
@font-face {
    font-family: "TeleNeo Thin";
    src: url(./assets/fonts/TeleNeoThin.otf);
}
@font-face {
    font-family: "TeleNeo Regular";
    src: url(./assets/fonts/TeleNeo.otf);
}
@font-face {
    font-family: "TeleNeo Medium";
    src: url(./assets/fonts/TeleNeoMedium.otf);
}
@font-face {
    font-family: "TeleNeo Bold";
    src: url(./assets/fonts/TeleNeoBold.otf);
}

:root{
    --font-primary: 'Poppins';
    --font-secondary-thin: 'TeleNeo Thin';
    --font-secondary-regular: 'TeleNeo Regular';
    --font-secondary-medium: 'TeleNeo Medium';
    --font-secondary-bold: 'TeleNeo Bold';
}

body {
    font-family: var(--font-primary), var(--font-secondary-regular) !important
}