.projectContainer {
    margin-left: -15px;
    position: absolute;
    margin-top: 12%;
    width: 70%;
    
}

.projectsGallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* Select style selectStatusButton */

select {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/

    background-color: #97004D;
    height: 50px;
    width: 350px;
    border-radius: 16px;

    text-align-last:right;
    padding-right: 170px;
    direction: rtl;
    
}

select, option {
    color: white;
    font-size: 20px;
    text-align: center;
    text-align-last:center;
}

/* card project details style */

.cardProject {
    background-color: #E6E6E6;
    border-radius: 16px;
    width: 350px;
    height: 262px;
    display: flex;
}

.cardProjectDetails {
    height: 42px;
    margin-top: 220px;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.cardProjectDetails h1 {
    font-size: 16px;
    text-align: center;
    color: white;
}

.projectStatus {
    border-radius: 50%;
    background: #FFC422;
    width: 15px;
    height: 15px;
    margin-left: 15px;
}