@font-face {
    font-family: "TeleNeo Thin";
    src: url(./fonts/TeleNeoThin.otf);
}
@font-face {
    font-family: "TeleNeo Regular";
    src: url(./fonts/TeleNeo.otf);
}
@font-face {
    font-family: "TeleNeo Medium";
    src: url(./fonts/TeleNeoMedium.otf);
}
@font-face {
    font-family: "TeleNeo Bold";
    src: url(./fonts/TeleNeoBold.otf);
}

:root{
    --font-primary: 'Poppins';
    --font-secondary-thin: 'TeleNeo Thin';
    --font-secondary-regular: 'TeleNeo Regular';
    --font-secondary-medium: 'TeleNeo Medium';
    --font-secondary-bold: 'TeleNeo Bold';
}

body {
    font-family: var(--font-primary), var(--font-secondary-regular) !important
}